.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

# 'data' folder #
data/

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]
# Except for the mock Scottish Statistics Postcode Lookup CSV file
!tests/testthat/sspl_data/singlerecord_mock.csv

# Excel files #
*.[xX][lL][sS]*

# SPSS formats #
*.[sS][aA][vV]

# SAS format #
*.[sS][aA][sS]7[bB][dD][aA][tT]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]
inst/doc

config*.yml
